.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.image-container {
    flex: 1;
    min-width: calc(100% / 3); /* 3 images à l'écran */
    box-sizing: border-box;
    padding: 60px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

@media screen and (max-width: 768px) {
    .image-container {
        min-width: 100%; /* 1 image à l'écran */
    }
}
