.btn_register {
    width: 150px;
    height: 30px;
    margin: 20px auto;
    background-color: #D93232;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }