.copyright{
    border: 1px solid red;
    background-color:  #FFBC10;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.copyright p{
    width: 90%;
    border: 1px solid red;
}

.copyright p span{
  color:  red;
}